[Unit]
Description=BitTorrent Sync service for %i
After=network.target

[Service]
Type=forking
User=%i
ExecStart={{ bin_dir }}/btsync --config %h/.btsync.conf
Restart=on-abort
PIDFile=%h/.btsync.pid

[Install]
WantedBy=multi-user.target
